body{
    background-color: #F8F8F8;
}
#search-bar-root{
    background-color: #F8F8F8 ;
    margin: 0 0 0 0
} 

.top-header{
    background-color: white;
    padding: 0 10% 0 10%;
    width: 100%;
    font-size: 12px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20px
}

.top-header p{
    text-align: center;
    margin: auto;
    padding: auto;
    cursor: pointer;
}

.top-header-icons {
    margin: auto;
    font-size: 16px;
    cursor: pointer;
}


.header-container{
    margin: 0 10%;
    background-color: F8F8F8;
    display: grid;
    margin-top: 20px;
    grid-template-columns: .3fr .3fr 6fr ;
    grid-template-rows: 65px;

}

.header-category-select{
    height: 50px;
    width: 100px;
}

#tbay-img{
    margin: auto;
    height: 65px;
    width: 100px;
}

.header-category-select{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8F8;
    font-size: 16px;
    border-width: 0px;
    height:65px;
    white-space: pre-wrap;
}
.search-container{
 background-color: #F8F8F8;
 margin: auto 0;
 display: grid;
 align-content: center;
 grid-template-columns: 4fr .5fr;
 grid-template-rows: 50px 50px;
}

.Search-Bar {
    padding: 0;
    font-size: 20px;
    width: auto;
    height: 65px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.search-autofill-options{
    text-align: left;
    z-index: 100;
    left: 2%;
    width: 100%;
    height: 30px;
    background-color: white;
}

.search-option{
    background-color: white;
    height: 30px;
}



#Search-Submit {
    color: blue;
    margin-left: 3px;
    font-size: 18px;
    padding: 0;
    height: 65px;
    width: 75px;
    border: 2px;
    border-color: blue;
    min-width: 168px;
    border-style: solid;
}

.active-autofill {
    background-color: lightgray;
    color: black;
}

.lower-header-container{
    margin-top: 10px;
    margin: 0 10%;
    font-size: 12px;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns:  .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-template-rows: 20px 20px
}

.lower-header-container p{
    text-align: right;
    margin: auto 10px auto auto
}

.lower-header-category-container{
    
    margin-top: 4px;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.lower-header-category-container p{
    text-align: left;
}


.header-share-container{
    padding: auto;
    margin: auto 0;
    text-align: right;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid;
    border-width: 0 2px 0 0;
    border-color: lightgray;
}

#add-to-watch{
    cursor: pointer;
    margin: auto 10px;
    color: blue;
    text-align: left;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}


#share-buttons img{
    width: 35px;
    padding: 5px;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    display: inline;
}

.header-envelope{
    cursor: pointer;
    padding: 2px;
    color: lightslategray;
    font-size: 22px;
}
.twitter{
    cursor: pointer;
    padding: 2px;
    color: #00acee;
    Font-size: 22px;
    }
.facebook{
    cursor: pointer;
    padding: 2px;
    color: #3b5998;
    font-size: 22px;
}
.pinterest{
    cursor: pointer;
    padding: 2px;
    color: #c8232c;
    font-size: 22px;
}