body{
    text-align: center;
    margin: 0 90px;

}
body h5{
    text-align: left;
}

.Carousel-Page{
    font-size: 17px;
    margin: 0px;
    padding: 24px 16px 0px;
    background-color: white;
    color: black;
    font-weight: normal;

}

.Carousel-Page span{
    color: gray;
}

.Carousel-Container{
    position: relative;
    display: grid;
    grid-template-columns: 5fr;
    background-color: white;
    color: black
}


.forward-bttn{
    padding-right: -35px;
    right: 0;              
    background-color: #fff;
    cursor: pointer;
    height:70px;
    width:35px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 0 90px 90px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    opacity: .9;
} 

.back-bttn{
    padding-left: -35px;
    left: 0px;              
    background-color: #fff;
    cursor: pointer;
    height:70px;
    width:35px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 90px 0 0 90px;
    position: absolute;
    z-index: 1;
    top: 25%;
    opacity: .9;
}

.button-chevron{
    font-size: 20px;
}

.Carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.Carousel-Product {
    padding: 7px;
    display: grid;
    grid-template-rows: .1fr .05fr .05fr .25fr;
    font-size: 14px;
    text-align: left;
}


.Carousel-Product img{
    margin: auto;
    height: 180px;
    width: 180px
}


.Carousel-Price {
    font-size: 17px;
    font-weight: bold;
    margin: 0px 10px 0px 0px
}

.Carousel-Shipping {
    margin: 0px;
    color: gray;
}

